<div class="container mt-4">
  <div class="row">
    <div class="col-md-6">
     <div class="form-group">
      <label for="pname">Product Name</label>
      <input type="text" class="form-control" #pname id="pname">
     </div>
     <div class="form-group">
      <label for="pDescri">Product Description</label>
      <textarea class="form-control" id="pDescri" #pDescri rows="4"></textarea>
     </div>
     <div class="text-right">
      <button class="btn btn-info mr-3" (click)="onAddProductDetails(pname, pDescri, 'Product')">Add Product</button>
      <button class="btn btn-info" (click)="onAddProductDetails(pname, pDescri, 'Catlog')">Add Catlog</button>
     </div>
    </div>
    <div class="col-md-6">
      <div class="card mb-4" *ngFor="let prod of productArray">
        <div class="card-header text-white " 
          [ngClass]="{
            'bg-primary' : prod.pCategory === 'Catlog',
            'bg-success' : prod.pCategory === 'Product'
          }"
        >
          <h3>
            {{prod.productName}}
          </h3>
        </div>
        <div class="card-body">
          <p>
            {{prod.pDescription}}
          </p>
        </div>
      </div>
    </div>
  </div>
</div>